form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

input {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 60%;
    font-size: 1rem;
}

button {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #e5e5e5;
}

@media (max-width: 500px) {
    form {
        flex-direction: column;
        gap: 12px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}