* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74ABE2 0%, #5563DE 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid #004aad;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #004aad;
}