* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
  color: #333;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #004aad;
}